::selection {
  background-color:none;
  color:inherit;
}
::placeholder {
  text-align:center;
vertical-align: middle;
}
body{
  background: url(../bg.jpg) no-repeat center center fixed;
	background-size:cover;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-position: fixed;
	z-index: -1;
}
#keyboard{
  text-align: center;
}
.key {
  border-radius: 5px;
  float: left;
  cursor: pointer;
  color: #FFE4E1;
  background-color: black;
  border: 1px solid red;
  width: 50px;
  height: 50px;
}
.key:hover {
  background-color: grey;
  color: red;
}
.key:active {
  background-color: darkgrey;
  color: red;
}
#display {
  width: 770px;
  height: 290px;
  border:2px solid red;
  color: red;
  background-color: black;
  font-size: 28px;
  font-family: Lucida Console;
}
.table {
  margin-top: 1%;
}
